/*common css start*/

body{
margin: 0;
font-family: "Playfair Display", serif;
font-size: 16px;
font-weight: 400;
color: #626262;
}

.width100{
  width: 100%;
}
/*common css end*/

/*header start*/
header{
  padding: 40px 0;
  /*border: 1px solid;*/
}

.container{
  margin: 0 auto;
  width: 90%;
  /*border: 1px solid;*/
  overflow: hidden;
}

.logo{
  margin-top: 6px;
  width: 11%;
  /*border: 1px solid;*/
  float: left;

}

.logo a{}
.logo_img{
}
.menu{
  width: 70%;
  /*border: 1px solid;*/
  float: right;
}

.menu ul{
  float: right;
}
.menu ul li{
  list-style: none;
  float: left;
}
.menu ul li a{
  display: inline-block;
  margin: 0 45px;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: .33s linear;
}

.menu ul li:last-child a{
  margin-right: 0;
}

.menu ul li a:hover{
  border-bottom: 1px solid #626262;
}
/*header end*/

/*banner start*/

.banner{

}

.b_img{

}

.banner_img{
}

/*banner end*/

.articel{
  padding: 100px 0 30px;
}

.container2{
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  /*border: 1px solid;*/
}

.a_content{

}

.c_light{
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.c_title{
  margin: 20px 0 25px;
  font-size: 30px;
  font-weight: 400;
}

.c_text{
  margin: 0;
  line-height: 24px;
}

.a_link{
  margin-top: 45px;
  display: inline-block;
  color: #626262;
  text-decoration: none;
}

/*blog start*/

.blog{
  padding: 0 0 100px;
  overflow: hidden;
}

.blog_single{
  margin-top: 70px;
  box-sizing: border-box;
  width: 47%;
  float: left;
  margin-right: 6%;
  /*border: 1px solid;*/
}

.bs_img{
  margin-bottom: 25px;
}

.blog_single:nth-child(even){
  margin-right: 0;
}

/*blog end*/

/*newslatter start*/
.newsletter{
  background-color: #f0f0f0;
  padding: 70px 0;
}

.signup{
  text-align: center;
}

.s_h1{
  color: #333333;
  margin-top: 0;
  margin-bottom: 70px;
}
.s_form{
  position: relative;
  width: 400px;
  /*border: 2px solid red;*/
  margin: 0 auto;
}
.s_form input{
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  color: #626262;
  width: 380px;
  height: 45px;
  border: none;
  border-bottom: 1px solid #000000;
  background: transparent;
  padding-left: 5px;
  padding-right: 5px;
}

.s_form input:focus{
  outline: 0;
}

.s_form button{
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
  top: 15px;
  right: 0;
}

.s_form button:focus{
  outline: 0;
}

.s_form button img{}
/*newslatter start*/

.blog2{
  padding: 30px 0 100px;
}

.load{
  text-align: center;
}

.c_btn{
  margin: 100px 0 50px;
  padding: 17px 33px;
  background-color: #ffffff;
  border: 2px solid #626262;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  color: #626262;
  line-height: 20px;
}

.c_btn:hover{
  background-color: #626262;
  color: #ffffff;
  transition: .33s linear;
  cursor: pointer;
}

.footer {
  width: 100%;
  background: #f1f1f1;
  height: 98px;
  line-height: 98px; /* Vertically center text/icons */
  overflow: hidden;
}

.footer .container {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  
}


.f_left {
  width: 50%;
  float: left;
  text-align: left;
  margin-left: 95px;

}

.f_right {
  width: auto;
  float: right;
  text-align: right;
}

.footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer ul li {
  float: left;
  margin-right: 20px;
}

.footer ul li:last-child {
  margin-right: 0;

}

.f_text {
  color: #000000;
  text-decoration: none;
  
}
.footer img {
  width: auto;
  vertical-align: middle;
}
